#st-wh{
	background-color: lightgray;
	border-color:  black;
	border-width: 2px;
	border-right:none;
	border-left:none;
}

#nav-header{
	font-size: 25px;
	font-style:bold;
	color:black;


}
.navbar-toggle {

	top:1px;
}
@media (min-width: 769px){
	.st-navbar{
		position: relative;		
	}
}

}

@media(min-width: 768px) {
  .mg-md {
    margin-left:15px;
    margin-right:10px;
    margin-top: 15px;
  }
.navbar-toggle .icon-bar {
    display: block;
    width: 100px;
    height: 2px;
    border-radius: 1px;
}


